<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103670272062-nc7s1gk6cli7o1tps5am2dbahv2jifnf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103670272062-nc7s1gk6cli7o1tps5am2dbahv2jifnf</string>
	<key>API_KEY</key>
	<string>AIzaSyBNMvVB4wYH9WliSdlgIHP52ewmI3QGA5U</string>
	<key>GCM_SENDER_ID</key>
	<string>554507965330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dee.CryptoSage</string>
	<key>PROJECT_ID</key>
	<string>cryptosage-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptosage-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554507965330:ios:5f95df7cca21c19aa1a74b</string>
</dict>
</plist>
